<form>
	<div class="form-group">
		<label for="user-id">ID</label>
		<span id="user-id" rv-text="model:id"></span>
	</div>
	<div class="form-group">
		<label for="user-name">Name</label>
		<input type="text" class="form-control" id="user-name" placeholder="Username" rv-value="model:name">
	</div>
	<div class="form-group">
		<label for="user-surname">Surname</label>
		<input type="text" class="form-control" id="user-surname" placeholder="Surname" rv-value="model:surname">
	</div>
	<div class="form-group">
		<label for="user-salary">Salary</label>
		<input type="number" class="form-control" id="user-salary" placeholder="Salary" rv-value="model:salary">
	</div>
</form>

<div class="error">
</div>

<button class="save-record btn btn-primary">
	Save
</button>