<table cellpadding="10" cellspacing="0">
	<tbody>
		<tr>
			<th>
				ID
			</th>
			<td>
				<span>{{employee.id}}</span>
			</td>
		</tr>
		<tr>
			<th>
				Name
			</th>
			<td>
				<input type="text" value="{{employee.name}}" class="employee-name">
			</td>
		</tr>
		<tr>
			<th>
				Surname
			</th>
			<td>
				<input type="text" value="{{employee.surname}}" class="employee-surname">
			</td>
		</tr>
		<tr>
			<th>
				Salary
			</th>
			<td>
				<input type="text" value="{{employee.salary}}" class="employee-salary">
			</td>
		</tr>
	</tbody>
</table>

<div class="error">
</div>

<button class="save-record">
	Save
</button>
