<table cellpadding="10" cellspacing="0">
	<tbody>
		<tr rv-show="model:id">
			<th>
				ID
			</th>
			<td>
				<span rv-text="model:id"></span>
			</td>
		</tr>
		<tr>
			<th>
				Name
			</th>
			<td>
				<input type="text" class="employee-name" rv-value="model:name">
			</td>
		</tr>
		<tr>
			<th>
				Surname
			</th>
			<td>
				<input type="text" class="employee-surname" rv-value="model:surname">
			</td>
		</tr>
		<tr>
			<th>
				Salary
			</th>
			<td>
				<input type="number" class="employee-salary" rv-value="model:salary">
			</td>
		</tr>
	</tbody>
</table>

<div class="error">
</div>

<button class="save-record">
	Save
</button>